h1 {
  color: black;
  font-family: sans-serif;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 4vw;
}

#menu-container {
  display:flex;
  width: 90vw;
  justify-content: space-between;
}

#restart-button {
  height: 7vw;
  width: auto;
  cursor: pointer;
  align-self: center;
}

#move-counter {
  align-self: center;
}

#game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-container {
  background: linear-gradient(to bottom right, #8ce2e1, #177776);
  box-shadow: 4px 8px 20px grey;
  background-attachment:fixed;
  display: grid;
  width: 90vw;
  height: 90vw;
  grid-template-columns: auto auto auto auto;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8ce2e1;
  box-shadow: 2px 2px 5px #3f726f;
  border-radius: 10px;
  height: 20vw;
  width: 20vw;
  margin: .15vw;
  cursor:pointer;
}

.card-image {
  width: 50%;
}

#star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.star-image {
  width: 10%;
  height: auto;
}

@media screen and (min-width:600px) {
  .card-item {
      margin: .5vw;
  }
  h1 {
    font-size: 45px;
  }
}

@media screen and (min-width:1200px) {
  p {
    font-size: 1.5vw;
  }

  .card-container {
    width: 30vw;
    height: 30vw;
  }

  .card-item {
    height: 6.1vw;
    width: 6.1vw;
  }

  .card-item {
      margin: .5vw;
  }

  #menu-container {
    display:flex;
    width: 30vw;
    justify-content: space-between;

  }

  #restart-button {
    height: 2vw;
  }

  #star-container {
    margin-top: 3%;
  }

  .star-image {
    width: 4%;
    height: auto;
  }
}
