h1 {
  color: black;
  font-family: sans-serif;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 4vw;
}

#menu-container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90vw;
}

#timer {
  grid-column: 6/8;
  grid-row: 1;
  margin: auto;
}

#restart-button {
  height: 7vw;
  width: auto;
  cursor: pointer;
  grid-column: 11/12;
  grid-row: 1;
  align-self: center;
}

#move-counter {
  grid-column: 1/4;
  grid-row: 1;
}

#game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-container {
  background: linear-gradient(to bottom right, #8ce2e1, #177776);
  box-shadow: 4px 8px 20px grey;
  background-attachment:fixed;
  display: grid;
  width: 90vw;
  height: 90vw;
  grid-template-columns: auto auto auto auto;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.card-item {
  position: relative;
  /* background-color: #8ce2e1; */
  /* box-shadow: 2px 2px 5px #3f726f; */
  /* border-radius: 10px; */
  /* height: 20vw;
  width: 20vw; */
  /* margin: .15vw; */
  /* cursor:pointer; */
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.flip {
  transform: rotateY(180deg);
}

.flip-back {
  transform: rotateY(0deg);
}

.card-back {
  box-shadow: 2px 2px 5px #3f726f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 10px;
  background-color: #7ccfff;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  transform:rotateY(180deg);
}

.card-front {
  box-shadow: 2px 2px 5px #3f726f;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  background-color: grey;
  height: 100%;
  width: 100%;
}

.card-item.matched {
  background-color: #8ce2e1;
}

.card-image {
  width: 50%;
}

#star-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}

.star-image {
  width: 10%;
  height: auto;
}

@media screen and (min-width:600px) {
  .card-item {
      margin: .5vw;
  }

  h1 {
    font-size: 45px;
  }
}

@media screen and (min-width:1200px) {
  p {
    font-size: 1.5vw;
  }

  .card-container {
    width: 30vw;
    height: 30vw;
  }

  .card-item {
    height: 6.1vw;
    width: 6.1vw;
    margin: .5vw;
  }

  #menu-container {
    display:flex;
    width: 30vw;
    justify-content: space-between;

  }

  #restart-button {
  height: 2vw;
  }

  #star-container {
    margin-top: 3%;
  }

  .star-image {
    width: 4%;
    height: auto;
  }
}
